<div class="page-container">
  <div class="input-side">
    <div class="players-container">
      <div *ngFor="let group of playersArr.controls" [formGroup]="group">
        <input class="player-input" type="text" formControlName="name">
      </div>
      <button *ngIf="playersArr.controls.length < 5" (click)="addPlayer()">+ Add</button>
    </div>
    <button class="start-button" (click)="calculateRoles()">Start</button>
  </div>

  <div class="result-side">
    <div class="table-player">
      <div>{{players[0]?.name}}</div>
      <div>{{players[0]?.order[0]}}</div>
      <div>{{players[0]?.order[1]}}</div>
      <div>{{players[0]?.order[2]}}</div>
      <div>{{players[0]?.order[3]}}</div>
      <div>{{players[0]?.order[4]}}</div>
    </div>
    <div class="table-player">
      <div>{{players[1]?.name}}</div>
      <div>{{players[1]?.order[0]}}</div>
      <div>{{players[1]?.order[1]}}</div>
      <div>{{players[1]?.order[2]}}</div>
      <div>{{players[1]?.order[3]}}</div>
      <div>{{players[1]?.order[4]}}</div>
    </div>
    <div class="table-player">
      <div>{{players[2]?.name}}</div>
      <div>{{players[2]?.order[0]}}</div>
      <div>{{players[2]?.order[1]}}</div>
      <div>{{players[2]?.order[2]}}</div>
      <div>{{players[2]?.order[3]}}</div>
      <div>{{players[2]?.order[4]}}</div>
    </div>
    <div class="table-player">
      <div>{{players[3]?.name}}</div>
      <div>{{players[3]?.order[0]}}</div>
      <div>{{players[3]?.order[1]}}</div>
      <div>{{players[3]?.order[2]}}</div>
      <div>{{players[3]?.order[3]}}</div>
      <div>{{players[3]?.order[4]}}</div>
    </div>
    <div class="table-player">
      <div>{{players[4]?.name}}</div>
      <div>{{players[4]?.order[0]}}</div>
      <div>{{players[4]?.order[1]}}</div>
      <div>{{players[4]?.order[2]}}</div>
      <div>{{players[4]?.order[3]}}</div>
      <div>{{players[4]?.order[4]}}</div>
    </div>
  </div>
</div>